---
import Layout from "../layouts/Layout.astro";
import ImageGenerator from "../components/ImageGenerator.svelte";
---

<Layout title="Our Earth">
	<main>
		<h1>Capture the world <br />on your special day.</h1>
		<p class="instructions">Choose a date that has meaning to you and upload an image. <br />A double exposure of the Earth taken on that day will be generated using the image you have chosen.</p>

		<ImageGenerator client:load />
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #2d97bc, #e795b6);
	}

	h1 {
		margin: 2rem 0;
		letter-spacing: 5px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 3rem;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 1366px;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		margin-bottom: 2rem;
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
