---
import Layout from "../layouts/Layout.astro";
import ImageGenerator from "../components/ImageGenerator.svelte";
---

<Layout title="Earph">
	<main class="py-8">
		<h1 class="uppercase tracking-wider text-gray-700 text-2xl md:text-4xl font-bold text-center mb-4">Earph</h1>
		<p class="text-center mb-4 max-w-xl mx-auto">EPIC API Rendering Photos</p>
		<p class="text-center mb-4 max-w-xl mx-auto">Choose a date and upload a photo. An image of the Earth will be combined with your image to create a double exposure.</p>

		<ImageGenerator client:load />
	</main>
</Layout>
